# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  # Maintain dependencies for the backend
  - package-ecosystem: "npm"
    directory: "/backend"
    schedule:
      interval: "monthly"
    allow:
      - dependency-type: "all"
    groups:
      all-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  # Maintain dependencies for the frontend
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "monthly"
    allow:
      - dependency-type: "all"
    groups:
      all-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  # Maintain dependencies for GitHub Actions
  # Workflow files stored in the default location of `.github/workflows`. You
  # don't need to specify `/.github/workflows` for `directory`. You can use
  # `directory: "/"`.
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    allow:
      - dependency-type: "all"
    groups:
      all-dependencies:
        patterns:
          - "*"
